<section>
    <h1>FAQ</h1>
    <ul>
        <li>
            <h3>When does minting begin?</h3>
            <p>Minting will start soon... Follow our <a target="_blank" href="https://twitter.com/PopsChubby">twitter</a> to be up to date</p>
        </li>
        <li>
            <h3>How many Chubby Pops will be minted?</h3>
            <p>There are 10k (ten thousand) birdies to be minted</p>
        </li>
        <li>
            <h3>How much do they cost to mint?</h3>
            <p>Chubby Pops will only cost a flat 0.04 eth + gas mint</p>
        </li>
        <li>
            <h3>Is there a limit on how many Chubby Pops I can mint?</h3>
            <p>There’s a limit of 10 Chubby Pops per transaction</p>
        </li>
        <li>
            <h3>When is the reveal?</h3>
            <p>TBA</p>
        </li>
    </ul>
</section>
