@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @include flex-column;
    padding: 64px;
    border-radius: 80px;
    background-color: rgb(30, 49, 64);

    h3 {
        @include azeret;
        margin-top: 32px;
        font-size: 40px;
        line-height: 60px;
        font-weight: normal;
    }

    p {
        font-size: 32px;
        line-height: 48px;
        color: rgba(255, 255, 255, .6);
    }

    @media screen and (max-width: 1200px) {
        h3 {
            font-size: 36px;
            line-height: 52px;
        }

        p {
            font-size: 28px;
            line-height: 40px;
        }
    }

    @media screen and (max-width: 960px) {
        padding: 48px;
        border-radius: 48px;

        h1 {
            font-size: 48px;
            line-height: 64px;
        }

        h3 {
            font-size: 32px;
            line-height: 48px;
        }

        p {
            font-size: 24px;
            line-height: 36px;
        }
    }

    @media screen and (max-width: 720px) {
        padding: 24px;
        border-radius: 24px;

        h1 {
            font-size: 32px;
            line-height: 48px;
        }

        h3 {
            font-size: 24px;
            line-height: 40px;
        }

        p {
            font-size: 16px;
            line-height: 32px;
        }
    }

}
