@import "~ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @include flex-column;

    .header {
        @extend .flex-row;
        @extend .layout-start-center;

        .spacer {
            padding: 8px 16px;
        }

        .rare-meter {
            @extend .flex-row;
            @extend .layout-start-center;
            @extend .flex-grow-1;

            img {
                transition: all .3s ease;
                z-index: 1;
                height: 112px;
                margin-left: -56px;
            }

            .line {
                position: relative;
                z-index: 1;
                background: linear-gradient(270deg, #FFF3A9 0%, #FFB4E5 82.41%);
                height: 20px;
                border-radius: 10px;
                transition: all .3s ease;

                &.none {
                    width: 15%;
                }

                &.common {
                    width: 33%;
                }

                &.epic {
                    width: 55%;
                }

                &.rare {
                    width: 75%;
                }

                &.super {
                    width: 100%;

                    img {
                        right: -22px;
                    }
                }
            }
        }

    }


    .preview {
        @extend .flex-row;
        @extend .layout-start-stretch;
        width: 100%;
        padding: 32px 0;

        .spacer {
            position: relative;
            z-index: 5;
            width: 40px;
            @extend .flex-column;
            @extend .layout-space-around-center;

            .clip {
                width: 64px;
                border-radius: 8px;
                height: 16px;
                background: #fff;
            }
        }

        .info {
            @extend .flex-column;
            @extend .layout-center-stretch;
            @include fredoka;
            @extend .flex-grow-1;
            background-color: rgb(30, 49, 64);
            border-radius: 40px;
            padding: 64px 32px;

            li {
                @extend .flex-row;
                @extend .layout-start-center;

                &:not(:last-child) {
                    margin-bottom: 32px;
                }

                img {
                    margin-right: 32px;
                }

                img.hidden {
                    opacity: 0;
                }

                p {
                    font-size: 40px;
                    line-height: 48px;

                    &.rare {
                        color: #ff9ede;
                    }
                }
            }
        }

        .demo {
            @extend .flex-column;
            @extend .layout-start-center;
            background-color: #ff9ede;
            border-radius: 40px;
            overflow: hidden;
            max-width: 578px;
            width: 100%;

            img {
                width: 100%;
                max-width: 578px;
            }

            p {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }

    .rare-nav {
        @extend .flex-row;
        @extend .layout-space-between-center;
        @include fredoka;
        white-space: nowrap;

        img {
            height: 32px;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                opacity: .75;
            }


            &.next {
                transform: rotate(180deg);
            }
        }

        p {
            margin: 0 16px;
        }
    }

    @media screen and (max-width: 1200px) {

        .header {
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;

            .rare-meter {
                width: 100%;
            }
        }

        .preview {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding-bottom: 16px;

            .spacer {
                padding: 12px;
                width: 0;
                .clip {
                    display: none;
                }
            }
        }
    }

}
