@import "~ngx-slice-kit/lib/core/styles/flexbox";

footer {
    @extend .flex-row;
    @extend .layout-center-center;
    color: #fff;
    padding: 32px;

    .content {
        @extend .flex-row;
        @extend .layout-center-center;
        @extend .flex-wrap;
        width: 100%;
        max-width: 1200px;
    }

    h3 {
        font-weight: normal;
        opacity: 0.5;
    }

    .community {
        @extend .flex-row;
        @extend .layout-center-center;

        a {
            margin: 4px;
            display: flex;
            img {
                height: 50px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .community {
        margin-top: 20px;
    }
}
