@import "~ngx-slice-kit/lib/core/styles/flexbox";

footer {
    @extend .flex-row;
    @extend .layout-center-center;
    color: #fff;
    padding: 32px;

    .content {
        @extend .flex-row;
        @extend .layout-center-center;
        width: 100%;
        max-width: 1200px;
    }

    h3 {
        font-weight: normal;
    }

    .community {
        @extend .flex-row;
        @extend .layout-center-center;

        a {
            margin: 4px;
            display: flex;
            img {
                height: 50px;
            }
        }
    }
}
