<footer>
    <div class="content">
        <h3>Chubby Pops © 2021</h3>
        <span class="spacer flex-grow-1"></span>
        <div class="community">
            <a target="_blank" href="https://github.com/rovergulf/chubbypops">
                <img src="/assets/images/git.svg" alt="Chubby Pops public repository" />
            </a>
            <a target="_blank" href="https://etherscan.io/token/0x" class="disabled">
                <img src="/assets/images/etherscan.png" alt="Chubby Pops Contract on Etherscan" />
            </a>
            <a target="_blank" href="https://discord.gg/GTaDN8ucQB">
                <img src="/assets/images/dis_dark.svg" alt="Chubby Pops Discord server" />
            </a>
            <a target="_blank" href="https://twitter.com/PopsChubby">
                <img src="/assets/images/tw_dark.svg" alt="Chubby Pops on Twitter" />
            </a>
            <a target="_blank" class="disabled">
                <img src="/assets/images/opensea.svg" alt="Chubby Pops at OpenSea" />
            </a>
        </div>
    </div>
</footer>
