<footer>
    <div class="content">
        <h3>Chubby Pops © 2021</h3>
        <span class="spacer flex-grow-1"></span>
        <div class="community">
            <a target="_blank" href="https://github.com/rovergulf/chubbypops">
                <img src="/assets/images/github.svg" alt="Chubby Pops public repository" />
            </a>
            <a target="_blank" href="https://polygonscan.io/token/0x2279b871E86DA07D2317051ba8005a960992294f">
                <img src="/assets/images/polygonscan.svg" alt="Chubby Pops Contract on Polygonscan" />
            </a>
            <a target="_blank" href="https://discord.gg/GTaDN8ucQB">
                <img src="/assets/images/discord.svg" alt="Chubby Pops Discord server" />
            </a>
            <a target="_blank" href="https://twitter.com/PopsChubby">
                <img src="/assets/images/twitter.svg" alt="Chubby Pops on Twitter" />
            </a>
            <a target="_blank" class="disabled">
                <img src="/assets/images/opensea.svg" alt="Chubby Pops at OpenSea" />
            </a>
        </div>
    </div>
</footer>
