<footer>
    <div class="content">
        <h3>Chubby Pops © 2021</h3>
        <span class="spacer flex-grow-1"></span>
        <div class="community">
            <a target="_blank" href="https://discord.gg/GTaDN8ucQB">
                <img src="/assets/images/footer_ds.png" alt="Chubby Pops Discord server" />
            </a>
            <a target="_blank" href="#">
                <img src="/assets/images/footer_os.png" alt="Chubby Pops at OpenSea" />
            </a>
            <a target="_blank" href="https://twitter.com/PopsChubby">
                <img src="/assets/images/footer_tw.png" alt="Chubby Pops on Twitter" />
            </a>
        </div>
    </div>
</footer>
