@import "~ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @include flex-column;

    h1 {
        margin-bottom: 20px;
    }

    ul {
        @extend .flex-row;
        @extend .layout-center-center;
        @extend .flex-wrap;

        @media screen and (min-width: 1200px) {
            justify-content: space-between;
        }

        li {
            @extend .flex-column;
            @extend .layout-start-stretch;

            margin: 8px;

            img {
                margin-bottom: 20px;
            }

            h3 {
                @include azeret;
                margin-top: 32px;
                font-size: 36px;
                line-height: 54px;
            }

            p {
                font-size: 32px;
                line-height: 48px;
                color: rgba(255, 255, 255, .6);
            }

            @media screen and (max-width: 1200px) {
                h3 {
                    font-size: 32px;
                    line-height: 48px;
                }
                p {
                    font-size: 28px;
                    line-height: 32px;
                }
            }

            @media screen and (max-width: 720px) {
                h3 {
                    font-size: 24px;
                    line-height: 32px;
                }

                p {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}
