@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @include flex-column;

    sdk-carousel {
        width: 100%;
    }

    sdk-slide {
        //padding: 0 32px;
    }

    .roadmap-slide {
        @extend .flex-row;
        @extend .layout-start-start;
        padding: 32px 64px;
        background-color: rgb(30, 49, 64);
        border-radius: 40px;
        height: 100%;

        .spacer {
            padding: 20px;
        }

        ul {
            @extend .flex-column;

            li {
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -16px;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        .roadmap-slide {
            padding: 20px 48px;

            img {
                margin-bottom: 8px;
            }
        }
    }

    @media screen and (max-width: 920px) {
        .roadmap-slide {
            padding: 16px 32px;
        }

        h1 {
            padding: 0 16px;
            font-size: 32px;
            line-height: 48px;
        }
    }

    @media screen and (max-width: 720px) {
        h1 {
            font-size: 32px;
            line-height: 48px;
        }
    }
}
