@import "~ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @include flex-column;

    sdk-carousel {
        width: 100%;
    }

    sdk-slide {
        //padding: 0 32px;
    }

    .roadmap-slide {
        @extend .flex-row;
        @extend .layout-start-start;
        padding: 32px 64px;
        background-color: rgb(30, 49, 64);
        border-radius: 40px;
        height: 100%;

        .spacer {
            padding: 20px;
        }

        ul {
            @extend .flex-column;

            li {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -16px;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }
    }

    @media screen and (max-width: 1264px) {
        sdk-carousel {
            max-width: 896px;
        }
    }

    @media screen and (max-width: 960px) {
        sdk-carousel {
            max-width: 640px;
        }
    }

    @media screen and (max-width: 720px) {
        sdk-carousel {
            max-width: 480px;
        }
    }

    @media screen and (max-width: 560px) {
        sdk-carousel {
            max-width: 256px;
        }
    }

}
