@import "~ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @extend .flex-column;
    @extend .layout-start-stretch;
    width: 100%;
    max-width: 1200px;

    sdk-carousel {

    }

    sdk-slide {
        padding: 20px;
    }

    .roadmap-slide {
        @extend .flex-row;
        @extend .layout-start-start;
        padding: 32px 64px;
        background-color: rgb(30, 49, 64);
        border-radius: 40px;
        height: 100%;

        ul {
            @extend .flex-column;
            margin-left: 32px;

            li {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -16px;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }
    }



}
