
@mixin flex-row {
    @extend .flex-row;
    @extend .layout-center-center;
    width: 100%;
    max-width: 1200px;
}

@mixin flex-column {
    @extend .flex-column;
    @extend .layout-start-stretch;
    width: 100%;
    max-width: 1200px;
}

@mixin h1-main {
    font-size: 80px;
    line-height: 96px;
}

@mixin azeret {
    font-family: 'Azeret Mono', monospace;
}
