@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
@import "./node_modules/ngx-slice-kit/lib/core/styles/defaults";
@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";

html, body {
    width: 100vw;
    position: relative;
    font-family: 'Azeret Mono', monospace;
    font-size: 14px;
    color: var(--regular-text);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

span.spacer {
    padding: 8px;
}

.disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default;
}

.mint-button {
    @extend .flex-row;
    @extend .layout-center-center;
    background-color: #ff9ede;
    height: 100px;
    width: 360px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    overflow: hidden;
    text-align: center;

    &:hover {
        opacity: .75;
    }

    img {
        margin-right: 8px;
    }

    span {
        position: absolute;
        height: 168px;
        width: 40px;
        background: rgba(255, 255, 255, .3);
        top: calc(50% - 84px);
        left: 50%;
        transform: rotate(25deg);
    }
}

// roadmap component slider

app-roadmap {
    button.sdk-button.sdk-round-button {
        border-radius: 100%;
        background-color: transparent;
    }

    .sdk-carousel__arrow {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover !important;
        height: 80px !important;
        width: 80px !important;

        &--left {
            background-image: url('/assets/images/arr_prev.svg') !important;
        }
        &--right {
            background-image: url('/assets/images/arr_next.svg') !important;

        }

        sdk-icon {
            display: none;
        }
    }

    @media screen and (max-width: 920px) {
        .sdk-carousel__arrow {
            height: 48px !important;
            width: 48px !important;
        }
    }

}

#WEB3_CONNECT_MODAL_ID {
    z-index: 10000;
}

