@import "~ngx-slice-kit/lib/core/styles/flexbox";

@mixin flex-row {
    @extend .flex-row;
    @extend .layout-center-center;
    max-width: 1200px;
    width: 100%;
}

@mixin flex-column {
    @extend .flex-column;
    @extend .layout-start-stretch;
    max-width: 1200px;
    width: 100%;
}

@mixin h1-main {
    font-size: 80px;
    line-height: 96px;
}

@mixin azeret {
    font-family: 'Azeret Mono', monospace;
}

main {
    @extend .flex-column;
    @extend .layout-start-center;

    color: #fff;

    section {
        margin-top: 96px;
    }

    #title {
        @include flex-row;

        h1 {
            @include h1-main;
        }

        img {
            max-height: 180px;
        }
    }

    #mint {
        @include flex-row;

        img {
            max-width: 480px;
            border-radius: 24px;
        }

        & > .spacer {
            padding: 24px;
        }

        .catch {
            @extend .flex-column;
            @extend .layout-start-center;
            @extend .flex-grow-1;
            padding: 16px;
            max-width: 580px;

            h3 {
                font-size: 60px;
                line-height: 72px;
            }

            p {
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 24px;
            }

            button {
                border-radius: 50px;
                background-color: #ff9ede;
                height: 100px;
                width: 360px;
                font-family: 'Fredoka One', cursive;
                color: #fff;
                font-size: 40px;
                line-height: 100px;
                cursor: pointer;
            }
        }
    }

    #story {
        @include flex-column;

        img {
            width: 100%;
            border-radius: 80px;
        }

        h1 {
            @include h1-main;
        }

        p {
            font-size: 40px;
            line-height: 60px;
        }
    }

    #roadmap {
        @include flex-column;

        h1 {
            @include h1-main;
        }

        .roadmap-slide {
            @extend .flex-row;
            @extend .layout-start-start;
            padding: 32px 64px;
            background-color: rgb(30, 49, 64);
            border-radius: 40px;
            min-height: 200px;

            a {
                font-size: 32px;
                line-height: 40px;
            }

            ul {
                @extend .flex-column;
                margin-left: 32px;

                li {
                    &::before {
                        content: '';
                        position: absolute;
                        top: calc(50% - 4px);
                        left: -16px;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }

                p {
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }

    }

    #rare {
        @include flex-column;

        .header {
            @extend .flex-row;
            @extend .layout-center-center;

            h1 {
                @include h1-main;
            }

            .line {
                flex-grow: 1;
            }
        }

        .preview {
            @extend .flex-row;
            @extend .layout-start-stretch;
            padding-top: 64px;

            .info {
                @extend .flex-column;
                @extend .layout-start-stretch;
                background-color: rgb(30, 49, 64);
                max-width: 580px;
                width: 100%;
                border-radius: 40px;
                padding: 64px 32px;

                li {
                    @extend .flex-row;
                    @extend .layout-start-center;
                    &:not(:last-child) {
                        margin-bottom: 32px;
                    }

                    img.hidden {
                        visibility: hidden;
                        margin: 0 24px;
                    }

                    p {
                        font-size: 40px;
                        line-height: 48px;
                    }
                }
            }

            .demo {
                img {
                    //width: 100%;
                    max-width: 480px;
                    margin-bottom: 24px;
                    border-radius: 40px;
                }

                p {
                    @include azeret;
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }

    }

    #slider {
        @extend .flex-row;
        @extend .layout-center-center;
        margin-top: 96px;
        width: 100%;
        min-height: 200px;
    }

    #faq {
        @include flex-column;
        padding: 64px;
        border-radius: 80px;
        background-color: rgb(30, 49, 64);

        h1 {
            @include h1-main;
        }

        h3 {
            @include azeret;
            margin-top: 32px;
            font-size: 40px;
            line-height: 60px;
        }

        p {
            @include azeret;
            font-size: 32px;
            line-height: 48px;
            color: rgba(255, 255, 255, .6);
        }
    }

    #about {
        @include flex-column;

        h1 {
            @include h1-main;
            margin-bottom: 20px;
        }

        ul {
            @extend .flex-row;
            @extend .layout-space-between-center;

            li {
                @extend .flex-column;
                @extend .layout-start-stretch;

                &:not(:first-child) {
                    margin-left: 16px;
                }

                &:not(:last-child) {
                    margin-right: 16px;
                }

                img {
                    margin-bottom: 20px;
                }

                h3 {
                    @include azeret;
                    margin-top: 32px;
                    font-size: 36px;
                    line-height: 54px;
                }

                p {
                    @include azeret;
                    font-size: 32px;
                    line-height: 48px;
                    color: rgba(255, 255, 255, .6);
                }
            }
        }
    }

}
