<main>
    <section id="title">
        <h1>Chubby</h1>
        <img alt="chubby-face" src="/assets/images/frame_90.png"/>
        <h1>Pops</h1>
    </section>
    <section id="mint">
        <div class="image">
            <img alt="Very cute Chubby" src="/assets/images/chubby_pink.gif"/>
        </div>
        <span class="spacer"></span>
        <div class="catch">
            <h3>What's the catch?</h3>
            <p>Chubby Pops are an NFT collection of 10k unique and plump chicks (･θ･)</p>
            <button (click)="mint()" class="mint-button">Mint now!</button>
        </div>
    </section>
    <section id="story">
        <h1>The Story ( T θ T )</h1>
        <p>The bird's nest was washed away by the big wave. All unhatched chicks were lost in the open sea. Help the
            cute chubby bird find all the eggs,save the babies! T___T The chubby bird will never forget it!</p>
        <img alt="waves" src="/assets/images/wawes.gif"/>
    </section>
    <section id="roadmap"></section>
    <section id="rare"></section>
    <section id="preview"></section>
    <section id="faq"></section>
    <section id="about"></section>
</main>
