<main>
    <header>
        <h1>Chubby</h1>
        <img alt="chubby-face" src="/assets/images/chp.svg"/>
        <h1>Pops</h1>
    </header>

    <!-- Mint -->
    <app-minter></app-minter>
    <span class="divider" id="story"></span>

    <!-- Story -->
    <app-story></app-story>
    <span class="divider" id="roadmap"></span>


    <!-- Roadmap -->
    <app-roadmap></app-roadmap>
    <span class="divider" id="rare"></span>

    <!-- Rarometer -->
    <app-rarity></app-rarity>
<!--    <span class="divider" id="preview"></span>-->

    <!-- Slider -->
<!--   <app-preview></app-preview>-->
    <span class="divider" id="faq"></span>

    <!-- FAQ -->
    <app-faq></app-faq>
    <span class="divider" id="about"></span>

    <!-- TEAM -->
    <app-team></app-team>
</main>
