@import "~ngx-slice-kit/lib/core/styles/flexbox";
@import "../../mixins";

main {
    @extend .flex-column;
    @extend .layout-start-center;

    color: #fff;

    section {
        margin-top: 96px;
    }

    header {
        @include flex-row;
        margin: 96px 0;

        h1 {
            @include h1-main;
        }

        img {
            max-height: 180px;
        }
    }

    .divider {
        padding: 48px;
    }
}
