@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @include flex-column;
    overflow: hidden;
    border-radius: 0 0 80px 80px;

    & > img {
        width: calc(100% + 2px);
        width: -webkit-calc(100% + 2px);
        width: -moz-calc(100% + 2px);
        margin-right: -2px;
    }

    h1 {
        @extend .flex-row;
        @extend .layout-start-center;
        white-space: nowrap;
        margin-bottom: 32px;

        img {
            margin-left: 32px;
        }
    }

    p {
        font-size: 40px;
        line-height: 60px;
    }

    @media screen and (max-width: 1200px) {
        p {
            font-size: 32px;
            line-height: 48px;
        }
    }


    @media screen and (max-width: 960px) {
        h1 {
            font-size: 32px;
            line-height: 48px;
        }

        p {
            font-size: 20px;
            line-height: 32px;
        }
    }

    @media screen and (max-width: 720px) {
        h1 {
            font-size: 24px;
            line-height: 32px;
            img {
                height: 32px;
                margin-left: 8px;
            }
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
