@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @extend .flex-row;
    @extend .layout-space-between-stretch;

    .image {
        img {
            max-width: 100%;
            border-radius: 24px;
        }
    }

    & > .spacer {
        padding: 24px;
    }

    .catch {
        @extend .flex-column;
        @extend .layout-space-between-stretch;
        @extend .flex-grow-1;
        padding: 0 16px;
        max-width: 580px;

        p {
            font-size: 40px;
            line-height: 60px;
            margin-bottom: 24px;
        }

        .mint-button {
            border-radius: 50px;
            font-size: 40px;
            line-height: 100px;
            height: 100px;
            width: 360px;
        }
    }


    @media screen and (max-width: 1200px) {
        .catch .mint-button {
            height: 80px;
            line-height: 80px;
            width: 320px;
            font-size: 36px;
        }
    }

    @media screen and (max-width: 960px) {
        .catch {
            h2 {
                font-size: 32px;
                line-height: 48px;
            }

            p {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }

    @media screen and (max-width: 720px) {
        .catch {
            h2 {
                font-size: 24px;
                line-height: 32px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
            }

            .mint-button {
                height: 64px;
                line-height: 64px;
                font-size: 20px;
            }
        }
    }
}
