@import "~ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../mixins";
@import "../../../variables";

section {
    @extend .flex-row;
    @extend .layout-space-between-center;

    .image {
        img {
            max-width: 480px;
            border-radius: 24px;
        }
    }

    & > .spacer {
        padding: 24px;
    }

    .catch {
        @extend .flex-column;
        @extend .layout-space-between-stretch;
        @extend .flex-grow-1;
        padding: 16px;
        max-width: 580px;

        p {
            font-size: 40px;
            line-height: 60px;
            margin-bottom: 24px;
        }

        .mint-button {
            border-radius: 50px;
            font-size: 40px;
            line-height: 100px;
            height: 100px;
            width: 360px;
        }
    }


    @media screen and (max-width: 1200px) {
        .catch .mint-button {
            height: 80px;
            line-height: 80px;
            width: 320px;
            font-size: 36px;
        }
    }
}
