@import "~ngx-slice-kit/lib/core/styles/flexbox";

header {
    @extend .flex-row;
    @extend .layout-center-center;
    display: flex;
    height: 96px;
    background: #fff;
    width: 100%;

    .content {
        @extend .flex-row;
        @extend .layout-space-between-center;
        max-width: 1200px;
        width: 100%;
    }

    .logo {
        img {
            margin-right: 8px;
        }

        a {
            @extend .flex-row;
            @extend .layout-center-center;
            font-size: 28px;
            line-height: 40px;
        }
    }

    .nav {
        @extend .flex-row;
        @extend .layout-center-center;

        a {
            margin: 8px;
            font-size: 28px;
            line-height: 40px;
        }
    }

    .community {
        a {
            margin: 0 8px;
        }
    }
}


