@import "./node_modules/ngx-slice-kit/lib/core/styles/flexbox";
@import "../../../../mixins";

header {
    @include fredoka;
    @extend .flex-row;
    @extend .layout-center-center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    background: #fff;
    width: 100%;
    padding: 0 16px;


    .content {
        @extend .flex-row;
        @extend .layout-space-between-center;
        max-width: 1200px;
        width: 100%;
    }

    .logo {
        img {
            margin-right: 8px;
        }

        a {
            @extend .flex-row;
            @extend .layout-center-center;
            font-size: 28px;
            line-height: 40px;
        }
    }

    .nav {
        @extend .flex-row;
        @extend .layout-center-center;
        @extend .flex-wrap;

        a {
            margin: 8px;
            font-size: 28px;
            line-height: 40px;
        }
    }

    .community {
        a:not(:last-child) {
            margin-right: 16px;
        }
    }

    .mobile-menu {
        display: none;
    }

    .menu {
        display: none;
        position: fixed;
        flex-direction: column;
        @extend .layout-space-between-start;
        z-index: 99;
        top: 96px;
        left: 0;
        right: 0;
        height: calc(100vh - 96px);
        background: #fff;

        &.active {
            display: flex;
            flex-direction: column;
            @extend .layout-start-stretch;
        }

        .nav {
            flex-direction: column;
        }

        .spacer {
            padding: 24px;
        }

        .community {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }

    button.burger {
        background: #fff;
    }
}

@media screen and (max-width: 1200px) {
    .logo a span {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    header {
        .content {
            .community, .nav {
                display: none;
            }
        }

        .mobile-menu {
            display: flex;
        }
    }
}

@media screen and (max-width: 720px) {
    header {
        .logo img {
            width: 32px;
        }
    }
}

